{{ define "main" }}

{{ if not (eq .Params.type "ebooks") }}

  {{ partial "titlesite.html" }}
  <article>
    <header>
      <br>

      <div class="card" style="background-color: #ffff; border-radius: 3px !important">
          <!-- {{ if .Params.image }}
            <img class="card-img-top" src="{{ .Params.image }}" width="250" height="250">
          {{end}}  -->
          <div class="card-body text-justify">
              <p class="h4 font-weight-light post_title">{{- .Title -}}</p>
              <div class="row">
                  <div class="col-6">
                  <p  class="h6 text-muted font-weight-light" >
                      {{- .Date.Format "02 Jan 2006" -}}, 
                       {{- if .Params.categories }} 
                         {{ range $index, $category := .Params.categories }}
                           {{ if gt $index 0 }}, {{ end }}
                           <a class="h6 font-weight-light text-info" href="{{ $.LanguagePrefix }}{{ "/categories/" | relURL }}{{ . | urlize }}">{{- upper . -}}</a>
                         {{ end }}
                       {{- end -}}
                 </p>
                </div>
                <div class="col-6 text-right">
                 <p class="h6 text-muted font-weight-light">{{ .WordCount }} Palavras, por {{ .Params.author }} </p>        
                </div>
            </div>
            <p>
                {{ if .Params.tags }}
                  {{ range $index, $tag := .Params.tags }}
                    {{ if gt $index 0 }}, {{ end }}
                    <a href="{{ $.LanguagePrefix }}{{ "tags/" | relURL }}{{ . | urlize }}">
                      <span class="hash">#</span>{{- . -}}
                    </a>
                  {{ end }}
                {{ end }}
              </p>
              <hr>
              <br>

              {{ partial "adsense.html" . }}
              {{- .Content -}}
          </div>
        </div>
    </header>
    <footer>
      <div class="card mt-3" style="background-color: #ffff; border-radius: 3px !important">
        <div class="card-body">
            {{ if .Site.Params.addThisId }}
              <div class="addthis_inline_share_toolbox"></div>
            {{ end }}
            
            {{ template "_internal/disqus.html" . }}
       </div>
    </div>
    </footer>
  </article>
{{ else }}
  {{- .Content -}}
  <section>
      {{ partial "adsense.html" . }}
    </section>
    <footer>
      {{ if .Site.Params.addThisId }}
        <div class="addthis_inline_share_toolbox"></div>
      {{ end }}
      {{ template "_internal/disqus.html" . }}
    </footer>
{{ end }}
{{ end }}
