{{ define "main" }}

{{ partial "titlesite.html" }}
<!-- {{ partial "navbarleft.html" }} -->

<div class="row mt-3">
    <div class="col-md-2">
        <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2 mt-2" width="200" src="https://pbs.twimg.com/profile_images/1024257723150606337/Y70jgMz3_400x400.jpg"
                alt="José Luiz">
        </span>
    </div>
    <div class="col-md-10">
        <h4>About me</h4>
        <p align="justify"> Hi, my name is José Luiz, I am an <b>Entrepreneur and Experienced Software Engineer</b>, I
            have a passion for building IT solutions and helping companies to expand, plan and be successful. </p>
        <p align="justify"> I have a <b>great experience</b> in the full lifecycle of software development process
            including requirements definition, design, prototyping, coding, interface implementation, testing,
            debugging and maintenance.
            <p align="justify"> Some of the main responsibilities and projects that I would like to <b>emphasize are</b>:
            </p>
    </div>
</div>
<h4 class="mt-4">Skills</h4>
<hr>
<div class="row">
    <div class="col-md-6">
        <p class="m-0" style="font-weight: 300; color: rgb(189, 93, 56)">- C# ASP.NET, .NET Core, Web API, Razor,
            HTML5, Javascript</p>
        <p class="m-0" style="font-weight: 300; color: rgb(189, 93, 56)">- Entity Framework, LINQ</p>
        <p class="m-0" style="font-weight: 300; color: rgb(189, 93, 56)">- Advanced <b>T-SQL</b> Skills for database
            SQL Server and Oracle</p>
        <p class="m-0" style="font-weight: 300; color: rgb(189, 93, 56)">- Project Management, and Team Lead.</p>
        <p class="m-0" style="font-weight: 300; color: rgb(189, 93, 56)">- Pro Bono project, Volunteer.</p>
        <p class="m-0" style="font-weight: 300;">
            I am study <b>Javascript in Depth</b>, and get some certification, such as, <b>Scrum, AWS</b> to improve my
            skills !
        </p>
    </div>
    <div class="col-md-6 text-left">
        <p class="m-0 text-left" style="font-weight: 300;">
            In 2010, I <b>opened my own Technology Company</b>
            <a href="http://www.iscosistemas.com/" target="_blank">Isco Sistemas</a>, where I work in the
            present days as a Senior Software Engineer, if you have a company and need software to plan feel free to
            reach me and know our solution.
        </p>
    </div>
</div>
<h4 class="mt-4">Reach me</h4>
<hr>
<div class="row text-center bg-white">
    <div class="col-md-12">
        <p class="m-0" style="font-weight: 300;">If you feel that I can provide you with value, I encourage you to <b>add
                me to your networking</b> circles! </p>
        <p>
            <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                    <a href="https://twitter.com/joseluizsborges">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/joseluizsborges/">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/joseluizsborges/">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/shpsyte">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <!-- <li class="list-inline-item">
                    <a href="https://www.youtube.com/channel/UCWvI2zvMqYQZFff1x66CGBw?view_as=subscriber">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li> -->
                <li class="list-inline-item">
                    <a href="mailto:joseluiz@joseluiz.net">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://web.whatsapp.com/send?phone=5541999325815&text=Hey Jose..">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </p>
    </div>
</div>

<h4 class="mt-4">This website</h4>
<hr>
<div class="row">
    <div class="col-md-8">
        <p class="m-0">
            I’ve been start written some posts <b>about programming</b>, I believe in reinventing the wheel, building
            things <b>from scratch</b>, and writing code with a few libraries and dependencies as possible.
        </p>
        <p class="mt-3">
            I started this website as a place to document everything <b>I learned as I began my journey
                as Software Engineer.</b> I aim to create the best, most concise, straightforward, and practical
            articles possible.
        </p>


    </div>
    <div class="col-md-4 d-none d-lg-block">
        <img class="img-fluid" src="https://i.imgur.com/pqiSCjP.png" alt="José Luiz">
    </div>
</div>
<div class="row bg-white">
    <div class="col-md-12">
        <p class="mt-3">
            So I provide my website to you <b>completely free, without ads, without sponsored posts,</b> because
            I want to leave a positive impact. If this is reasonable to you, please consider supporting me
            with a <b style="color: rgb(189, 93, 56)">coffee or with a private services.</b> :)
        </p>
        <p>
            <a class="btn btn-info btn-lg" href="http://ko-fi.com/joseluizsborges" target="_blank">
                <i class="fas fa-coffee"></i>
                Buy me a Coffee! and help the world!
            </a>
            <p class="small">
                All coffee supporting are sending to
                <a target="_blank" href="https://www.msf.org/donate">MSF</a>
                and to
                <a target="_blank" href="https://www.rotary.org/en/donate">Rotary</a>


                :)
            </p>
        </p>
    </div>
</div>

<h4 class="mt-4">Probono, Worthy Cause, and Humanity Project</h4>
<hr>

<div class="row">
    <div class="col-md-12">
        <p class="mt-3">
            I have a some Open Source Project, (and I plan to start more),
            but if you have a <b>humanity project, Probono, Community, or worthy cause, let me help you!</b>
            I love this cause, Reach me out today! :)
        </p>
    </div>
</div>




<h4 class="mt-4">Projects</h4>
<hr>


{{ partial "portifolio.html"}}

{{ partial "footer.html" . }}
<!-- 
    <div class="modal fade" id="portfolio-modal-1">
            <div class="portfolio-modal-dialog bg-white">
              <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
              </a>
              <div class="container text-center">
                <div class="row">
                  <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="img/portfolio/cabin.png" alt="">
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                      <i class="fa fa-close"></i>
                      Close Project</a>
                  </div>
                </div>
              </div>
            </div>
      </div> -->

<!--<div class="col-md-3">
            
            {{ partial "subscribe.html" . }}
            {{ partial "social_media.html" . }}
            {{ partial "recent_post_list.html" . }}  
        </div>-->

<!-- <div id="experience" class="col-md-12 ml-4">
            <h2 class="mt-3" style="font-weight: 400; ">Experience</h2>
            <p align="justify"> 
                <ul>
                    <li> 2010 - Current: - <b>Partner Founder</b> at <a target="_blank" href="http://www.iscosistemas.com">Isco Sistemas</a>  </li>
                    <li> 2005 - 2010:    - <b>Princial Software Developer</b> at <a target="_blank" href="http://www.grupofoxlux.com.br">Grupo Foxlux</a>  </li>
                </ul>
            </p>
        </div>       
        
        <div id="education" class="col-md-12 ml-4">
                <h2 class="mt-3" style="font-weight: 400; ">Education</h2>
                <p align="justify"> 
                    <ul>
                        <li>2010: Bachelor's degree, Information Techonology</li>
                    </ul>
                </p>
            </div>      -->




<!-- 

<p class="aboutme" align="justify">
José Luiz is a
<b>computer scientist</b> who is passionate about creating software yields clean, elegant, readable, and maintainable code. with 12+ years of experience building complex software systems that have been successfully delivered to customers.</p>

<p class="aboutme" align="justify">
My path as an IT professional has been formed in the past 12 years. During this period, I’ve had a lot of amazing opportunities to learn and to apply my knowledge of different technology.
</p>


<p class="aboutme"  align="justify">
Always delivered quality software in his code, clean and organized, helping companies to keep up the <b>agile development cycle.</b>
</p>

If you feel that I can provide you with value, I encourage you to add me to your networking circles!


<div class="row">
<div class="col-4 mr-auto">
<img class="img-fluid mt-3" src="/images/me.png" alt="Talk" width="400">
</div>
<div class="col-8">
<div class="skills mt-3">
    <dl>
    <dt>Programming:</dt>
    <dd>C#</dd>
    <dd>.Net MVC</dd>
    <dd>.Net MVC Core</dd>
    <dd>Javascript</dd>
    <dd>HTML</dd>
    <dd>T-SQL</dd>
    </dl>
    <dl>
    <dt>Data base</dt>
    <dd>MS-SQL Server</dd>
    <dd>Oracle</dd>
    </dl>
    <dl>
    <dt>Hobbies &amp; Interesses:</dt>
    <dd>Musician</dd>
    <dd>Gaming</dd>
    <dd>Bike</dd>
    <dd>Reader</dd>
    <dd>Coffe</dd>
    <dd>Vegetarian</dd>
    </dl>
</div>



</div>
</div>




<hr> -->

{{ end }}