<div class=" container card mt-3" style="background-color:rgb(242, 242, 242); border-radius: 3px !important">
<div class="row mt-3 text-center">
        
        <div class="col-md-12 ">
            <h4>A Note</h4>
            <p align="justify" class="text-center"> Hi, my name is José Luiz and you know my commitment to you - <b>no bullshit, no sponsored posts, no ads, and no paywalls.</b> </p>


            <p align="justify" class="text-center">If you enjoy my content, please consider supporting what I do! </p>
            <p align="justify" class="text-center"> 
                    <a class="btn btn-info btn-lg" href="http://ko-fi.com/joseluizsborges" target="_blank">
                        <i class="fas fa-coffee"></i>
                        Buy me a Coffee! and help the world!
                    </a>
                    <p class="small">
                        All coffee supporting are sending to
                        <a target="_blank" href="https://www.msf.org/donate">MSF</a>
                        and to
                        <a target="_blank" href="https://www.rotary.org/en/donate">Rotary</a>
        
        
                        :)
                    </p>


                </p>
        </div>
    </div>
</div>