<div class=" container card mt-3" style="background-color:rgb(242, 242, 242); border-radius: 3px !important">
<div class="row mt-3 text-center">
        
        <div class="col-md-12 ">
            <h4>Note...</h4>
            <p align="justify" class="text-center">{{ i18n "noteMsg" }}</p>


            <p align="justify" class="text-center">{{ i18n "noteHelp" }}</p>
            <p align="justify" class="text-center"> 
                    <a class="btn btn-info btn-lg" href="http://ko-fi.com/joseluizsborges" target="_blank">
                        <i class="fas fa-coffee"></i>
                        {{ i18n "notePay" }}
                    </a>
                    <p class="small">
                        {{ i18n "noteSend"}}
                        <a target="_blank" href="https://www.msf.org/donate">MSF</a>
                        &
                        <a target="_blank" href="https://www.rotary.org/en/donate">Rotary</a>
                        :)
                    </p>
                </p>
        </div>
    </div>
</div>