<div class=" container card mt-3" style="background-color:rgb(242, 242, 242); border-radius: 3px !important">
<div class="row mt-3 text-center">
        
        <div class="col-md-12 ">
            <h4>A Note</h4>
            <p align="justify" class="text-center"> Olá, meu nome é José Luiz e você sabe meu compromisso com você - <b>
                sem post pagos, sem anuncios, sem conteúdo privado, somente post.</b> </p>


            <p align="justify" class="text-center">Se você curtiu esta produção, por favor, considere me enviar um cafézinho para apoiar o que eu faço... </p>
            <p align="justify" class="text-center"> 
                    <a class="btn btn-info btn-lg" href="http://ko-fi.com/joseluizsborges" target="_blank">
                        <i class="fas fa-coffee"></i>
                        Me pague um café e ajude o mundo!
                    </a>
                    <p class="small">
                        Toda contribuição é enviada para
                        <a target="_blank" href="https://www.msf.org/donate">MSF</a>
                        e para 
                        <a target="_blank" href="https://www.rotary.org/en/donate">Rotary</a>
        
        
                        :)
                    </p>


                </p>
        </div>
    </div>
</div>