Many project have a private code, :( ... you can check my <a target="_blank" href="https://github.com/shpsyte">github
    profile</a> as well, but I put here some project, all of them I used C#, .Net Core, Javascritp, HTML5, SQL Server
or Oracle:

<br>
<table class="table table-striped bg-white mt-5">
    <thead class="thead-dark">
        <tr>
            <th colspan="3"> Software Application </th>
            
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="col-1">
            <img class="img-fluid" src="https://i.imgur.com/pqiSCjP.png">
        </td>
        <td class="col-4">
            <a target="_blank" href="http://hackthequestion.joseluiz.net/">HackQuestion Page</a>
        </td>
        <td class="text-dark">
            This is a WebSite Tools, to help some candidates to study regular question for interviwers
            and record yourseflt to check your English
        </td>
    </tr>


    <tr>
        <td class="col-1">
            <img class="img-fluid" src="https://www.nopcommerce.com/images/thumbs/0004793_400.jpeg">
        </td>
        <td class="col-4">
            <a target="_blank" href="https://github.com/shpsyte/Correios">NopCommerce Shippment Plugin</a>
        </td>
        <td class="text-dark">
            This is a Plugin for Shipment Calculation Price, to use on NopCommerce Solution, It's Free and Open Source.
        </td>
    </tr>


    <tr>
        <td class="col-1">
            <img class="img-fluid" src="https://www.nopcommerce.com/images/thumbs/0006243_400.jpeg">
        </td>
        <td class="col-4">
            <a target="_blank" href="https://github.com/shpsyte/PagSeguro">NopCommerce Payment Plugin</a>
        </td>
        <td class="text-dark">
            This is a Plugin for Payment Calculation, Integrated with PagSeguro, to use on NopCommerce Solution, It's
            Free and Open Source.
        </td>
    </tr>



    <tr>
        <td class="col-1">
            <img class="img-fluid" src="https://i.imgur.com/8uySLS5.png">
        </td>
        <td class="col-4">
            <a target="_blank" href="https://github.com/shpsyte/CRMFx">CRM/SAC Software WebApp</a>
        </td>
        <td class="text-dark">
            Software Write to Help my customer a plan and control your Customer Services.
        </td>
    </tr>

    <tr>
        <td class="col-1">
            <img class="img-fluid" src="https://i.imgur.com/dm8eRXw.png">
        </td>
        <td class="col-4">
            <a target="_blank" href="https://github.com/shpsyte/Procediemento">Customer Issue Payment Module WebApp</a>
        </td>
        <td class="text-dark">
            Another Software that help customers a control customer requirement to pay insurance
        </td>
    </tr>

    <tr>
        <td class="col-1">
            <img class="img-fluid" src="https://i.imgur.com/nGP2Gdf.png">
        </td>
        <td class="col-4">
            <a target="_blank" href="https://github.com/shpsyte/smartadmin">Smartadmin WebApp</a>
        </td>
        <td class="text-dark">
            SmartAdmin solves problem for
            manager DEAL, CUSTOMER with PIPELINE for companies
        </td>
    </tr>

</tbody>

</table>
<!-- 
<ul>
   

    
 
    
    <li>
        <a target="_blank" href="https://github.com/shpsyte/smartadmin">Planner Project </a>
    </li>
     


</ul> -->

<!-- <div class="row bg-whiste">
    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" data-toggle="modal" target="_blank" href="#" data-target="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-s">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid img-portifolio" src="https://www.nopcommerce.com/images/thumbs/0004793_400.jpeg" alt="">
        </a>
    </div>

    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" data-toggle="modal" target="_blank" href="#" data-target="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-s">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid" src="https://i.imgur.com/pqiSCjP.png" alt="">
        </a>
    </div>

    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" data-toggle="modal" target="_blank" href="#" data-target="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-s">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid" src="https://i.imgur.com/pqiSCjP.png" alt="">
        </a>
    </div>
</div>
 
<div class="modal fade bd-example-modal-lg" id="portfolio-modal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->