Many project have a private code, :( ... you can check my <a target="_blank" href="https://github.com/shpsyte">github
    profile</a> as well,
but I put here some project, all of them I used C#, .Net Core, Javascritp, HTML5, SQL Server or Oracle:
<br>
<ul>
    <li>
        <a target="_blank" href="https://github.com/shpsyte/Correios">Plugin Shippment to used on nopcommerce! </a>
    </li>

    <li>
        <a target="_blank" href="https://github.com/shpsyte/PagSeguro">Plugin Payment to used on nopcommerce! </a>
    </li>

    <li>
        <a target="_blank" href="https://github.com/shpsyte/HackQuestion">Tools for help some candidates to study
            regular question </a>
    </li>
    <li>
        <a target="_blank" href="https://github.com/shpsyte/CRMFx">CRM Software</a>
    </li>
    <li>
        <a target="_blank" href="https://github.com/shpsyte/smartadmin">Planner Project </a>
    </li>
    <li>
        <a target="_blank" href="https://github.com/shpsyte/Procediemento">Manager Issue</a>
    </li>


</ul>

<!-- <div class="row bg-whiste">
    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" data-toggle="modal" target="_blank" href="#" data-target="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-s">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid img-portifolio" src="https://www.nopcommerce.com/images/thumbs/0004793_400.jpeg" alt="">
        </a>
    </div>

    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" data-toggle="modal" target="_blank" href="#" data-target="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-s">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid" src="https://i.imgur.com/pqiSCjP.png" alt="">
        </a>
    </div>

    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" data-toggle="modal" target="_blank" href="#" data-target="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-s">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid" src="https://i.imgur.com/pqiSCjP.png" alt="">
        </a>
    </div>
</div>
 
<div class="modal fade bd-example-modal-lg" id="portfolio-modal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->