{{ define "main" }}
<div class="container">
    {{ partial "titlesite.html" }}
    
    {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
    <div class="row mt-3">
        
        <div class="col-md-8">
            {{ range $paginator.Pages }}
            
            <div class="card mb-4">
                {{ if .Params.image }}
                <a href="{{ .Permalink | relURL }}"><img class="card-img-top" src="{{ .Params.image }}"></a>
                  
                {{end}}
                <div class="card-body post">
                  <h5 class="card-title font-weight-normal h2"><a style="color: #444444 !important" href="{{ .Permalink | relURL }}">{{ .Title }}</a></h5>
                    <div class="row">
                    <div class="col-md-8">
                        <h6 class="card-subtitle mb-4 text-muted font-weight-light">{{ .Date.Format "02 de Jan de 2006" }} / 
                            {{- if .Params.categories }}
                            {{ range $index, $category := .Params.categories }}
                              {{ if gt $index 0 }} / {{ end }}
                              <a class="text-muted font-weight-normal" href="{{ $.LanguagePrefix }}{{ "/categories/" | relURL }}{{ . | urlize }}">{{- . -}}</a>
                            {{ end }}
                          {{- end -}}
                          
                        </h6>
                    </div>
                    <div class="col-md-4">
                        <h6 class="card-subtitle mb-4 text-muted font-weight-light text-right">
                          {{ .Params.author }}
                        </h6>
                    </div>
                    </div>
                  <p class="card-text">{{ .Params.excerpt }}</p>
                  <a class="btn btn-outline-info btn-block" href="{{ .Permalink | relURL }}">{{ i18n "keepRead" .}}</a>
                </div>
              </div>
            {{ end }}
        </div>
        
        <div class="col-md-4">
           {{ partial "subscribe.html" . }}
           {{ partial "social_media.html" . }}
           <!-- {{ partial "cursos_list.html" . }} -->
           {{ partial "recent_post_list.html" . }}
        </div>
    </div>
      
  {{ partial "pagination.html" . }}
</div>
{{ end }}