 {{ define "main" }}
<div>
  <div role="main">
    <h4>Frequently Asked Questions (FAQ)</h4>
     
    {{ with .Site.GetPage "section" "posts" }} 
    {{ range .Pages    }}
    {{ if ne .Draft true}}
      <h4>{{ .Title }}?</h4>
      <p>
      {{ .Params.smallcontent }}|{{ .Title}}|{{ .Permalink | relURL }}|{{ .Params.image }}|{{ .Date.Format "2006-01-02" }}|
         <a href="{{ .Permalink | relURL }}" >visite</a>
      </p>
      
       
       
         {{ end }}
    {{ end }} 
    {{ end }}
  </div>
</div>
{{ end }}